{% extends ":Layout:layoutAdmin.html.twig" %}

{% block content %}



    <div class="content mt-3" >
        <div class="card">
            <div class="card-header">
                <strong class="card-title">Basic Table</strong>
            </div>
            <input type="text" id="haja">
            <div class="card-body" >
                <table class="table" id="tableajax">
                    <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Breed</th>
                        <th scope="col">Sex</th>
                        <th scope="col">Governate</th>
                        <th scope="col">Pet Image</th>
                        <th scope="col">Description</th>
                        <th scope="col">  </th>

                    </tr>
                    </thead>
                    {% for pets in pets %}
                        <tbody>
                        <tr>
                            <td class="py-1">
                                {{ pets.namePet }}
                            </td>
                            <td>
                                {{ pets.breed }}
                            </td>
                            <td>
                                {{ pets.sex }}
                            </td>
                            <td>
                                {{ pets.governate }}
                            </td>
                            <td>
                                <img src="{{ asset('images/'~pets.petImage) }}" style="width: 100px; height: 70px" alt="">
                            </td>
                            <td>
                                {{ pets.description }}
                            </td>
                            <td>
                                <a class="btn btn-danger" href="{{  path('adopt_supprimerPetBack',{'id': pets.idPet }) }}">Supprimer</a>

                            </td>

                        </tr>






                        </tbody>
                    {% endfor %}

                </table>
            </div>
        </div>
    </div>

    <script src="{{ asset('js/jquery-3.2.1.js') }}"></script>

<script type="text/javascript">

    $("document").ready(function () {


        $("#haja").keyup(function () {

            $.ajax({
                url: '{{ path('adopt_ShowMatchsByType') }}',
                    data: {
                        type: $(this).val()
                    },
                    type: 'get',
                    success: function (result, status) {
                        $("#tableajax").html(result)
                    }
                })
            });
        })
    </script>

{% endblock %}