<table class="table" id="tableajax">
    <thead>
    <tr>
        <th scope="col">Name</th>
        <th scope="col">Breed</th>
        <th scope="col">Sex</th>
        <th scope="col">Governate</th>
        <th scope="col">Pet Image</th>
        <th scope="col">Description</th>
        <th scope="col">  </th>

    </tr>
    </thead>
    {% for pets in pets %}
        <tbody>
        <tr>
            <td class="py-1">
                {{ pets.namePet }}
            </td>
            <td>
                {{ pets.breed }}
            </td>
            <td>
                {{ pets.sex }}
            </td>
            <td>
                {{ pets.governate }}
            </td>
            <td>
                <img src="{{ asset('images/'~pets.petImage) }}" style="width: 100px; height: 70px" alt="">
            </td>
            <td>
                {{ pets.description }}
            </td>
            <td>
                <a class="btn btn-danger" href="{{  path('adopt_supprimerPetBack',{'id': pets.idPet }) }}">Supprimer</a>

            </td>

        </tr>






        </tbody>
    {% endfor %}

</table>