{% extends 'base.html.twig' %}

{% block body %}
    <h1>Tests list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Ass</th>
                <th>Asss</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for test in tests %}
            <tr>
                <td><a href="{{ path('test_show', { 'id': test.id }) }}">{{ test.id }}</a></td>
                <td>{{ test.ass }}</td>
                <td>{{ test.asss }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('test_show', { 'id': test.id }) }}">show</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}
