{% extends ":Layout:Layout.html.twig" %}
{% block content %}
<!--Inner Banner Content Start-->
<section class="cp-inner-banner">
    <div class="container">
        <div class="cp-inner-banner-outer">
            <h2>Cart</h2>
            <!--Breadcrumb Start-->
            <ul class="breadcrumb">
                <li><a href="index.html">Home</a></li>
                <li>Products</li>
                <li class="active">Cart</li>
            </ul><!--Breadcrumb End-->
        </div>
    </div>
</section><!--Inner Banner Content End-->

<!--Main Content Start-->
<div class="cp-main-content">

    <!--Cart Section Start-->
    <section class="cp-cart-section pd-tb100">
        <div class="container">

            <!--Cart Table Row Start-->
            <div class="cart-table-row">
                <div class="woocommerce">
                    <form method="get">
                        <table class="cp-shop_table">
                            <thead>
                            <tr>
                                <th class="product-remove"></th>
                                <th class="product-thumbnail">Product</th>
                                <th class="product-price">Price</th>
                                <th class="product-quantity">Quantity</th>
                                <th class="product-subtotal">Total</th>

                            </tr>
                            </thead>
                            <tbody>
    {% for panier in paniers %}
                            <tr class="cart_item">
                                <td class="product-remove">
                                    <a href="{{ path('Delete_Produit', { 'id': panier.id }) }}"><i class="fa fa-trash"></i></a>

                                </td>
                                <td class="product-thumbnail">
                                    <a href="#"><img src="{{ asset('images/Produits/'~panier.idProduit.imageproduit) }}" width="100" height="100" alt=""></a>
                                    <span>{{ panier.idProduit.nomproduit }}</span>
                                </td>

                                <td class="product-price">
                                    {% if(panier.idProduit.promotion)==1 %}
                                    {{ panier.idProduit.prix*panier.idProduit.taux/100 }}DT
                                    {% else %}
                                        {{ panier.idProduit.prix }}DT
                                    {% endif %}
                                </td>
                                <td>

                                    <input type="number" name="quantity" value={{ panier.quantite }}  min="1" id={{ panier.id }}>
                                    <input name="idprod" id="idprod" hidden value="{{ panier.idProduit.quantite }}">
                                    <input type="button" name="update" value="update" onclick="test({{ panier.id }})">
                                </td>

                                <td class="product-subtotal">
                                    {% if(panier.idProduit.promotion)==1 %}
                                        <div id={{ panier.id }}{{ panier.id }}> {{ panier.quantite * (panier.idProduit.prix*panier.idProduit.taux/100) }}DT </div>
                                    {% else %}
                                        <div id={{ panier.id }}{{ panier.id }}> {{ panier.quantite * panier.idProduit.prix }}DT </div>

                                    {% endif %}

                                </td>
                            </tr>
        {% endfor %}

                            </tbody>
                        </table>
                    </form>

                    <!--Cart Bottom Holder Start-->
                    <div class="cp-cart-bottom">
                        <i class="fa fa-shopping-bag" aria-hidden="true"></i>
                        <h3>THERE ARE {{ resultCount }} ITEMS IN CART</h3>
                        <a href="{{ path('shop_store') }}" class="cp-btn-style3">Shop</a>
                        <a href="{{ path('payement', { 'prixTotal': prixTotal }) }}" class="cp-btn-style3">Payement</a>
                    </div><!--Cart Bottom Holder End-->
                </div>
            </div><!--Cart Table Row End-->
        </div>
    </section><!--Cart Section End-->

</div><!--Main Content End-->
    <!-- Js Files Start -->
    <script src="{{ asset('js/jquery-1.11.3.min.js') }}"></script>
    <script src="{{ asset('js/animate-form.js') }}"></script>
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('js/migrate.js') }}"></script>
    <script src="{{ asset('js/owl.carousel.min.js') }}"></script>
    <script src="{{ asset('js/jquery.prettyPhoto.js') }}"></script>
    <script src="{{ asset('js/jquery.isotope.js') }}"></script>
    <script src="{{ asset('js/modernizr.custom.js') }}"></script>
    <script src="{{ asset('js/search-script.js') }}"></script>
    <script src="{{ asset('js/jquery.counterup.min.js') }}"></script>
    <script src="{{ asset('js/jquery.spinner.js') }}"></script>
    <script src="{{ asset('http://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js') }}"></script>
    <script src="{{ asset('js/jquery.interactive_bg.js') }}"></script>
    <script src="{{ asset('js/jquery.scrollme.js') }}"></script>
    <script src="{{ asset('js/custom.js') }}"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{{ asset('jquery.js') }}"></script>

    <script>
        $('.quantity').keyup(function () {


            if($('.quantity').val()<0)
            {
                alert('la quantité doit etre positive!');
                $('.quantity').val(1);
            }

        });
        function test(id) {


            var body=document.getElementById(id).value;
            var UrlEdit="{{ path('_update_line',{'id':"id",'body':"bod"}) }}";
            UrlEdit = UrlEdit.replace("bod", body);
            UrlEdit = UrlEdit.replace("id", id);


            $.ajax({
                type: 'POST',
                url: UrlEdit,
                success:function(d){
                    //alert(d.newPrice);
                    document.getElementById(id+""+id).innerHTML = d.newPrice+"DT";
                    if(d.i==1)
                    {
                        alert('stock insuffisant!');
                        document.getElementById(id).value=1;
                        document.getElementById(id+""+id).innerHTML = d.price+"DT";
                    }
                    else
                    {}
                    /*var prixTotal = parseInt(document.getElementById("prixT").innerText);
                    alert(prixTotal);
                    prixTotal+=d.newPrice;
                    document.getElementById("prixT").innerHTML = prixTotal;*/


                }
            })

        }


    </script>
    {% endblock content %}

